<html lang="en">
   <head>
      <%- include('../layout/head') %>
      <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
      <title>Danh sách khám</title>
   </head>
   <body>
      <div class="page">
         <%- include('../layout/header',{user: user}) %>
         <%- include('../layout/sidebar') %>
         <div class="page-main">
            <div class="container">
            <% if (errors.length > 0){%>
               <div class="row gy-32px">
                  <div class="alert-dismissable">
                     <div class="alert alert-danger">
                        <ul>
                          <% for (i = 0;i < errors.length;i++){%>
                           <li><%=errors[i]%></li>
                          <%}%>
                        </ul>
                     </div>
                  </div>
               </div>
            <% } else { %>
               <%- include('../home/statistic') %>
               <%- include('../home/list') %>
            <% } %>
            </div>
         </div>
         <%- include('../layout/footer', { footer_class: ""}) %>
      </div>
   </body>
</html>