<div class="form-group row">
  <div class="col-md-3">
    <div class="label-wrapper">
      <label class="col-form-label">Tên lời khuyên dinh dưỡng</label>
    </div>
  </div>
  <div class="col-md-9">
    <div class="input-group input-group-required">
      <input class="form-control text-box single-line" name="name" type="text" value="<%=nutritionAdvice.name%>">
      <div class="input-group-btn"><span class="required">*</span></div>
    </div>
  </div>
</div>
<div class="row mb-2">
  <div class="col-3">
    <label class="col-form-label">Nhóm thực phẩm</label>
  </div>
  <div class="col-3">
    <label class="col-form-label flex-center">Thực phẩm nên dùng</label>
  </div>
  <div class="col-3">
    <label class="col-form-label flex-center">Thực phẩm hạn chế dùng</label>
  </div>
  <div class="col-3">
    <label class="col-form-label flex-center">Thực phẩm không nên dùng</label>
  </div>
</div>
<div class="row mb-2">
  <div class="col-3">
    <label class="col-form-label">Nhóm glucid</label>
  </div>
  <div class="col-3">
    <!-- Nên dùng -->
    <div class="input-group input-group-required">
      <textarea class="form-control text-box single-line" name="glucid_should_use"><%=nutritionAdvice.glucid_should_use%></textarea>
    </div>
  </div>
  <div class="col-3">
    <!-- Hạn chế dùng -->
    <div class="input-group input-group-required">
      <textarea class="form-control text-box single-line" name="glucid_limited_use"><%=nutritionAdvice.glucid_limited_use%></textarea>
    </div>
  </div>
  <div class="col-3">
    <!-- Không nên dùng -->
    <div class="input-group input-group-required">
      <textarea class="form-control text-box single-line" name="glucid_should_not_use"><%=nutritionAdvice.glucid_should_not_use%></textarea>
    </div>
  </div>
</div>
<div class="row mb-2">
  <div class="col-3">
    <label class="col-form-label">Nhóm protein</label>
  </div>
  <div class="col-3">
    <!-- Nên dùng -->
    <div class="input-group input-group-required">
      <textarea class="form-control text-box single-line" name="protein_should_use"><%=nutritionAdvice.protein_should_use%></textarea>
    </div>
  </div>
  <div class="col-3">
    <!-- Hạn chế dùng -->
    <div class="input-group input-group-required">
      <textarea class="form-control text-box single-line" name="protein_limited_use"><%=nutritionAdvice.protein_limited_use%></textarea>
    </div>
  </div>
  <div class="col-3">
    <!-- Không nên dùng -->
    <div class="input-group input-group-required">
      <textarea class="form-control text-box single-line" name="protein_should_not_use"><%=nutritionAdvice.protein_should_not_use%></textarea>
    </div>
  </div>
</div>
<div class="row mb-2">
  <div class="col-3">
    <label class="col-form-label">Nhóm lipid</label>
  </div>
  <div class="col-3">
    <!-- Nên dùng -->
    <div class="input-group input-group-required">
      <textarea class="form-control text-box single-line" name="lipid_should_use"><%=nutritionAdvice.lipid_should_use%></textarea>
    </div>
  </div>
  <div class="col-3">
    <!-- Hạn chế dùng -->
    <div class="input-group input-group-required">
      <textarea class="form-control text-box single-line" name="lipid_limited_use"><%=nutritionAdvice.lipid_limited_use%></textarea>
    </div>
  </div>
  <div class="col-3">
    <!-- Không nên dùng -->
    <div class="input-group input-group-required">
      <textarea class="form-control text-box single-line" name="lipid_should_not_use"><%=nutritionAdvice.lipid_should_not_use%></textarea>
    </div>
  </div>
</div>
<div class="row mb-2">
  <div class="col-3">
    <label class="col-form-label">Nhóm VTM & CK</label>
  </div>
  <div class="col-3">
    <!-- Nên dùng -->
    <div class="input-group input-group-required">
      <textarea class="form-control text-box single-line" name="vitamin_ck_should_use"><%=nutritionAdvice.vitamin_ck_should_use%></textarea>
    </div>
  </div>
  <div class="col-3">
    <!-- Hạn chế dùng -->
    <div class="input-group input-group-required">
      <textarea class="form-control text-box single-line" name="vitamin_ck_limited_use"><%=nutritionAdvice.vitamin_ck_limited_use%></textarea>
    </div>
  </div>
  <div class="col-3">
    <!-- Không nên dùng -->
    <div class="input-group input-group-required">
      <textarea class="form-control text-box single-line" name="vitamin_ck_should_not_use"><%=nutritionAdvice.vitamin_ck_should_not_use%></textarea>
    </div>
  </div>
</div>

<% if(user.isAdmin){ %>
  <div class="form-group row">
    <div class="col-md-3">
      <div class="label-wrapper">
        <label class="col-form-label">Share</label>
      </div>
    </div>
    <div class="col-md-9">
      <div class="input-group">
        <input type="checkbox" <%=nutritionAdvice.share == 1 ? 'checked' : ''%> name="share"/>
      </div>
    </div>
  </div>
  <% }else{ %>
    <input type="hidden" value="<%=nutritionAdvice.share == 1 ? 'on' : ''%>" name="share"/>
  <% } %>