<form id="chidinhcanlamsang_form" class="form-horizontal">
    <!-- <h3 class="box-title-break">Chỉ định cận lâm sàng</h3> -->
    <div class="row g-2 align-items-center">
        <div class="col-6">
            <label class="col-md-auto fw-bold mt-2" for="cus_fat">Phiếu xét nghiệm huyết học</label>
            <div class="col-form-body col-md mt-2">
                <div class="form-control-has-addon ms-3">
                    <% if(medicalTest.length > 0){ %>
                        <% for(let med of medicalTest){ %>
                            <% if( med.type == 2 ){ %>
                                <div class="form-check form-switch pt-3">
                                    <input class="form-check-input" type="checkbox" id="medical_test_<%=med.id%>" value="<%=med.id %>" <%=medicalTestExamine.includes(med.id) ? 'checked' : ''%> onchange="getMedicalTest('#medical_test_<%=med.id%>')">
                                    <label class="form-check-label" for="medical_test_<%=med.id%>"><%=med.name%></label>
                                </div>
                                <!-- <div class="form-check form-switch pt-3">
                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                                    <label class="form-check-label" for="flexSwitchCheckChecked">Checked switch checkbox input</label>
                                </div> -->
                            <% } %>
                        <% } %>
                    <% } %>
                </div>
            </div>
        </div>
        <div class="col-6">
            <label class="col-md-auto fw-bold mt-2" for="cus_fat">Phiếu xét nghiệm hóa sinh</label>
            <div class="col-form-body col-md mt-2">
                <div class="form-control-has-addon ms-3">
                    <% if(medicalTest.length > 0){ %>
                        <% for(let med of medicalTest){ %>
                            <% if( med.type == 1 ){ %>
                                <div class="form-check form-switch pt-3">
                                    <input class="form-check-input" type="checkbox" id="medical_test_<%=med.id%>" value="<%=med.id %>" <%=medicalTestExamine.includes(med.id) ? 'checked' : ''%> onchange="getMedicalTest('#medical_test_<%=med.id%>')">
                                    <label class="form-check-label" for="medical_test_<%=med.id%>"><%=med.name%></label>
                                </div>
                            <% } %>
                        <% } %>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <div class="row g-2 justify-content-center mt-0">
        <div class="col-6 col-md-auto">
          <button class="btn btn-primary box-btn w-100 text-uppercase" type="button" onclick="saveExamine()">
            <svg class="iconsvg-send-2 flex-shrink-0 fs-16px me-2">
              <use xlink:href="/public/content/images/sprite.svg#save"></use>
            </svg>Lưu
          </button>
        </div>
        <div class="col-6 col-md-auto">
          <button class="btn btn-cancel box-btn w-100 text-uppercase" type="button" onclick="returnList()">
            <svg class="iconsvg-close flex-shrink-0 fs-16px me-2">
            <use xlink:href="/public/content/images/sprite.svg#close"></use>
            </svg>Huỷ
          </button>
        </div>
      </div>
</form>