<div class="form-group row">
  <div class="col-md-3">
    <div class="label-wrapper">
      <label class="col-form-label">Chiều cao</label>
    </div>
  </div>
  <div class="col-md-9">
    <div class="input-group input-group-required">
      <input class="form-control text-box single-line" name="height" type="text" value="<%=height_bw.height%>">
      <div class="input-group-btn"><span class="required">*</span></div>
    </div>
  </div>
</div>
<div class="form-group row">
  <div class="col-md-3">
    <div class="label-wrapper">
      <label class="col-form-label">Giới tính</label>
    </div>
  </div>
  <div class="col-md-9">
    <div class="input-group-append input-group-required">
      <div class="input-group">
        <select id="gender" name="gender">
          <option value="0" <%=(height_bw.gender == 0) ? 'selected' : ''%>>Nữ</option>
          <option value="1" <%=(height_bw.gender == 1) ? 'selected' : ''%>>Nam</option>
        </select>
        <script>
          $("#gender").kendoDropDownList({
            enable: true
          });
          </script>
      </div>
      <div class="input-group-btn"><span class="required">*</span></div>
    </div>
  </div>
</div>
<div class="form-group row">
  <div class="col-md-3">
    <div class="label-wrapper">
      <label class="col-form-label">Cân nặng nhỏ nhất</label>
    </div>
  </div>
  <div class="col-md-9">
    <div class="input-group input-group-required">
      <input class="form-control text-box single-line" name="weight_min" type="text" value="<%=height_bw.weight_min%>">
    </div>
  </div>
</div>
<div class="form-group row">
  <div class="col-md-3">
    <div class="label-wrapper">
      <label class="col-form-label">Cân nặng lớn nhất</label>
    </div>
  </div>
  <div class="col-md-9">
    <div class="input-group input-group-required">
      <input class="form-control text-box single-line" name="weight_max" type="text" value="<%=height_bw.weight_max%>">
    </div>
  </div>
</div>