<html lang="en">
<head>
    <title>Thêm mới chiều cao cân nặng tiêu chuẩn</title>
  <%- include('../shared/head') %>
</head>
<body class="sidebar-mini layout-fixed control-sidebar-slide-open">
  <div class="wrapper">
    <%- include('../shared/menu',{user: user}) %>
    <div class="content-wrapper">
        <% if (errors.length >0){%>
        <div class="alert alert-danger alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <ul>
          <% for (i = 0;i < errors.length;i++){%>
            <li><%=errors[i]%></li>
          <%}%>
          </ul>
        </div>
        <%}%>
        <form action="/admin/standard_weight_height/create" id="standard_weight_height-form" method="post" novalidate="novalidate">
            <div class="content-header clearfix">
              <h1 class="float-left">Thêm mới chiều cao cân nặng tiêu chuẩn
                <small> 
                  <i class="fas fa-arrow-circle-left"></i> 
                  <a href="/admin/standard_weight_height">Trở lại danh sách CC - CN</a> 
                </small>
              </h1>
              <div class="float-right">
                <button type="submit" name="save" class="btn btn-primary" value="save"> 
                  <i class="far fa-save"></i> Lưu 
                </button>
                <button type="button" name="saveContinue" class="btn btn-primary" value="saveContinue" onclick="importFileExcel('file_input_weight_height')"> 
                  <i class="fas fa-file-import"></i> Import Excel 
                </button>
                <button type="submit" name="saveContinue" class="btn btn-primary" value="saveContinue"> 
                  <i class="far fa-save"></i> Lưu và tiếp tục sửa 
                </button>
              </div>
            </div>
            <section class="content">
              <div class="container-fluid">
                <div class="form-horizontal">
                  <div class="cards-group">
                    <div class="card card-default">
                      <div class="card-body">
                        <%- include('../standard_weight_height/_createorupdate',{standard_wh:standard_wh}) %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
        </form>
        <input accept=".xls,.xlsx" type="file" id="file_input_weight_height" style="width: 0px;height: 0px;overflow: hidden;" onchange="getFileWeightHeight()"/>
    </div>
    <%- include('../shared/footer') %>
  </div>
</body>
</html>