<% if (listArticle.length > 0){%>
<div class="box">
  <div class="box-header">
    <h2 class="box-title">Danh sách bài đăng <small class="text-icon fw-6">(<%=paginatorArticle.totalItem%>)</small>
    </h2>
    <div class="paginate fs-13px ms-auto d-none d-md-flex">
      <%- include('../search/paginator_article') %>
    </div>
  </div>
  <div class="box-body box-table">
    <div class="table-responsive-xl table-responsive-flush mb-4">
      <div class="table-responsive-inner"></div>
      <table class="table-1 table table-pe-x-3 mb-0 align-middle table-ds-booking">
        <thead>
          <tr>
            <td>STT</td>
            <td class="table-sort">
              <span>Mã bài viết</span>
            </td>
            <td class="table-sort">
              <span>Tiêu đề</span>
            </td>
            <td>
              <span>Site<span class="text-gray-3 mx-1 fw-3">|</span>Chuyên mục<span class="text-gray-3 mx-1 fw-3">|</span>Loại bài</span>
            </td>
            <td class="table-sort">
              <span>Tác giả</span>
            </td>
            <td class="table-sort">
              <span>Thời gian</span>
            </td>
            <td class="table-sort">
              <span>Link layout</span>
            </td>
            <td class="table-sort w-1">
              <span>Trạng thái</span>
            </td>
            <td class="table-sort w-1">Hành động</td>
          </tr>
        </thead>
        <tbody>
          <% for (i = 0;i < listArticle.length;i++){%>
            <tr>
            <td class="fw-6 text-body-2"><%=i + ((paginatorArticle.perPage * paginatorArticle.page) - (paginatorArticle.perPage -1))%></td>
            <td>
              <a target="_blank" href="/examine/edit/<%=listArticle[i].book_id%>">
                <span class="text-primary fw-6 fs-13px"><%=listArticle[i].id_request%></span>
              </a>
            </td>
            <td class="fw-14px"><%=listArticle[i].title_send_request%></td>
            <td class="fs-13px">
              <span class="text-gray-4"><%=listArticle[i].domain%></span>
              <% if (listArticle[i].channel_name){%>
              <span class="text-gray-2 mx-1">|</span>
              <span class="text-red"><%=listArticle[i].channel_name%></span>
              <%}%>
              <% if (listArticle[i].fm_name){%>
              <span class="text-gray-2 mx-1">|</span>
              <span class="text-primary"><%=listArticle[i].fm_name%></span>
              <%}%>
            </td>
            <td class="min-w-150px">
              <div class="flex-center-y fs-13px">
                <img class="img-fluid me-2" src="/public/content/images/user.svg" alt="" />
                <%=listArticle[i].user_full_name%>
              </div>
            </td>
            <td class="fs-13px"><%=moment(listArticle[i].created_at).format("HH:mm:ss")%>
              <br>
              <small class="text-body-2"><%=moment(listArticle[i].created_at).format("DD/MM/YYYY")%></small>
            </td>
            <td class="text-center">
              <% if(listArticle[i].url_publish){ %>
                <a class="link-icon" target="_blank" href="<%=listArticle[i].url_publish%>">
                  <svg class="iconsvg-link fs-20px">
                    <use xlink:href="/public/content/images/sprite.svg#link"></use>
                  </svg>
                </a>
              <%} else if(listArticle[i].url_demo){%>
                <a class="link-icon" target="_blank" href="<%=listArticle[i].url_demo%>">
                  <svg class="iconsvg-link fs-20px">
                    <use xlink:href="/public/content/images/sprite.svg#link"></use>
                  </svg>
                </a>
              <%}%>
            </td>
            <td>
              <span class="badge badge-<%=webService.bookingStatusClass(listArticle[i].search_status).name%>">
                <%=webService.bookingStatusClass(listArticle[i].search_status).value%>
              </span>
            </td>
            <td>
              <div class="flex-center-x gap-10px">
                <% if(([-2,1,5].includes(listArticle[i].search_status)) || (listArticle[i].search_status == 6 && listArticle[i].booking_id_pr > 0 && listArticle[i].book_status !== -1)){%>
                    <button class="btn btn-action btn-action-cancel" title="Huỷ" type="button" onclick="showConfirmCancelArticle(<%=listArticle[i].book_id%>,'<%=listArticle[i].id_request%>',<%=listArticle[i].search_status%>,<%=listArticle[i].booking_id_pr%>,<%=listArticle[i].book_status%>)">
                      <svg class="iconsvg-close-circle">
                        <use xlink:href="/public/content/images/sprite.svg#trash"></use>
                      </svg>
                    </button>
                  <%}%>
                  <% if(listArticle[i].search_status == 7){%>
                  <% if(listArticle[i].booking_id_pr > 0 && listArticle[i].book_status !== -1){%>
                  <div class="col-sm-6 col-md-auto">
                    <button class="btn btn-action btn-action-cancel btn-action-request" type="button" onclick="showConfirmRequestCancel(<%=listArticle[i].book_id%>,'<%=listArticle[i].id_request%>',<%=listArticle[i].status%>,<%=listArticle[i].total_request_cancel%>)"> 
                      <svg class="iconsvg-trash">
                      <use xlink:href="/public/content/images/sprite.svg#trash"></use>
                      </svg>
                    </button>
                  </div>
                  <% } %>
                  <% } %>  
                  <% if(listArticle[i].status == -2){%>
                  <button class="btn btn-action btn-action-edit btn-action-request" title="Gửi Duyệt" type="button" onclick="checkApprove(<%=listArticle[i].book_id%>, '<%= listArticle[i].domaingroup%>')">
                    <svg class="iconsvg-send">
                      <use xlink:href="/public/content/images/sprite.svg#edit-2"></use>
                    </svg>
                  </button>
                  <%}%>
                  <% if(listArticle[i].search_status == 2){%>
                  <button class="btn btn-action btn-action-send" title="Gửi Đăng" type="button" onclick="checkPublish(<%=listArticle[i].book_id%>)">
                    <svg class="iconsvg-send">
                      <use xlink:href="/public/content/images/sprite.svg#send"></use>
                    </svg>
                  </button>
                  <%}%>
              </div>
            </td>
          </tr>
          <%}%>
        </tbody>
      </table>
    </div>
    <div class="paginate fs-13px mx-auto">
      <%- include('../search/paginator_article') %>
    </div>
  </div>
</div>

<!-- Modal Gui duyet-->
<div class="modal fade" id="modal_sendApproveArticle" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content fs-16px text-center">
      <button  class="modal-btn-close btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
      <h5 class="modal-title text-center mb-4" id="modal_sendApproveArticleLabel">Bạn muốn gửi duyệt bài viết?</h5>
      <div class="modal-body">
        <div class="row gx-2 mt-2">
          <div class="col-6">
            <button class="btn btn-cancel box-btn w-100 text-uppercase" type="button" data-bs-dismiss="modal">
              <svg class="iconsvg-close flex-shrink-0 fs-16px me-2">
                <use xlink:href="/public/content/images/sprite.svg#close"></use>
              </svg>
              Không
            </button>
          </div>
          <div class="col-6">
            <a onclick="approve()" class="btn btn-primary box-btn w-100 text-uppercase">
              <svg class="iconsvg-confirm flex-shrink-0 fs-16px me-2">
                <use xlink:href="/public/content/images/sprite.svg#confirm"></use>
              </svg>
              Gửi duyệt
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal Gui dang-->
<div class="modal fade" id="modal_sendPublishArticle" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content fs-16px text-center">
      <button  class="modal-btn-close btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
      <h5 class="modal-title text-center mb-4" id="modal_sendPublishArticleLabel">Bạn muốn gửi đăng bài viết?</h5>
      <div class="modal-body">
        <div class="row gx-2 mt-2">
          <div class="col-6">
            <button class="btn btn-cancel box-btn w-100 text-uppercase" type="button" data-bs-dismiss="modal">
              <svg class="iconsvg-close flex-shrink-0 fs-16px me-2">
                <use xlink:href="/public/content/images/sprite.svg#close"></use>
              </svg>
              Không
            </button>
          </div>
          <div class="col-6">
            <a class="btn btn-primary box-btn w-100 text-uppercase">
              <svg class="iconsvg-confirm flex-shrink-0 fs-16px me-2">
                <use xlink:href="/public/content/images/sprite.svg#confirm"></use>
              </svg>
              Gửi đăng
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal_EditArticle" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content fs-16px text-center">
      <button  class="modal-btn-close btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
      <h5 class="modal-title text-center mb-4" id="modal_EditArticleLabel">Thông báo sửa bài viết</h5>
      <div class="modal-body">
        <p>Thông tin của bạn chưa đủ để gửi duyệt,</p>
        <p>Vui lòng cập nhật thông tin</p>
        <div class="row gx-2 mt-2">
          <div class="col-6">
            <button class="btn btn-cancel box-btn w-100 text-uppercase" type="button" data-bs-dismiss="modal">
              <svg class="iconsvg-close flex-shrink-0 fs-16px me-2">
                <use xlink:href="/public/content/images/sprite.svg#close"></use>
              </svg>
              Không
            </button>
          </div>
          <div class="col-6">
            <a class="btn btn-primary box-btn w-100 text-uppercase">
              <svg class="iconsvg-confirm flex-shrink-0 fs-16px me-2">
                <use xlink:href="/public/content/images/sprite.svg#confirm"></use>
              </svg>
              Cập nhật
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br/>
<%}%>