<% if(!paginatorBooking.hasPrevPage) { %>
  <button disabled class="btn btn-outline-primary paginate-btn-prev" type="button">
    <svg class="iconsvg-chevron-right rotate-180">
      <use xlink:href="/public/content/images/sprite.svg#chevron-right"></use>
    </svg>
  </button>
<% } else { %>
  <a class="btn btn-outline-primary paginate-btn-prev" href="<%=paginatorBooking.prevPage%>">
    <svg class="iconsvg-chevron-right rotate-180">
      <use xlink:href="/public/content/images/sprite.svg#chevron-right"></use>
    </svg>
  </a>
<% } %>
<div class="paginate-text">
  <span class="fw-6"><%=(paginatorBooking.perPage * paginatorBooking.page) - (paginatorBooking.perPage -1)%>-<%=(paginatorBooking.perPage * paginatorBooking.page) > paginatorBooking.totalItem ? paginatorBooking.totalItem : (paginatorBooking.perPage * paginatorBooking.page)%></span>
  <span class="text-icon">/ <%=paginatorBooking.totalItem%></span>
</div>
<% if(!paginatorBooking.hasNextPage) { %> 
<button disabled class="btn btn-outline-primary paginate-btn-next" type="button">
  <svg class="iconsvg-chevron-right">
    <use xlink:href="/public/content/images/sprite.svg#chevron-right"></use>
  </svg>
</button>
<% } else { %>
<a class="btn btn-outline-primary paginate-btn-next" href="<%=paginatorBooking.nextPage%>">
  <svg class="iconsvg-chevron-right">
    <use xlink:href="/public/content/images/sprite.svg#chevron-right"></use>
  </svg>
</a>
<% } %>