<div class="form-horizontal">
    <h3 class="box-title-break">Thông tin chung</h3>
    <div class="row g-2 align-items-center">
        <label class="col-form-label col-md-auto fw-bold" for="diagnostic">Chuẩn đoán</label>
        <div class="col-form-body col-md">
          <div class="form-control-has-addon">
                <div class="form-control"><%= examine.diagnostic%></div>
          </div>
        </div>
    </div>
    <div class="row g-2 align-items-center">
        <div class="col-6 col-md-3 d-flex">
            <label class="col-form-label col-md-auto fw-bold mt-2" for="cus_length">Cao (m)</label>
            <div class="col-form-body col-md">
                <div class="form-control-has-addon">
                    <div class="form-control form-control-title"><%= examine.cus_length%></div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3 d-flex">
            <label class="col-form-label col-md-auto fw-bold mt-2" for="cus_cntc">CNTC (kg)</label>
            <div class="col-form-body col-md">
                <div class="form-control-has-addon">
                    <div class="form-control form-control-title"><%= examine.cus_cntc%></div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3 d-flex">
            <label class="col-form-label col-md-auto fw-bold mt-2" for="cus_cnht">CNHT (kg)</label>
            <div class="col-form-body col-md">
                <div class="form-control-has-addon">
                    <div class="form-control form-control-title"><%= examine.cus_cnht%></div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3 d-flex">
            <label class="col-form-label col-md-auto fw-bold mt-2" for="cus_bmi">BMI</label>
            <div class="col-form-body col-md">
                <div class="form-control-has-addon">
                    <div class="form-control form-control-title"><%= examine.cus_bmi%></div>
                </div>
            </div>
        </div>
    </div>
    <h3 class="box-title-break">Khám lâm sàng</h3>
    <div class="row">
        <div class="col-form-body col-md">
            <div class="form-control-has-addon">
                <div class="form-control form-control-title"><%= examine.clinical_examination%></div>
            </div>
          </div>
    </div>
    <h3 class="box-title-break">Kết quả xét nghiệm</h3>
    <div class="row g-2 align-items-center">
        <div class="col-4 d-flex">
            <label class="col-form-label col-md-auto fw-bold mt-2 form-label-large" for="erythrocytes">Hồng cầu (T/L)</label>
            <div class="col-form-body col-md">
                <div class="form-control-has-addon">
                    <div class="form-control form-control-title"><%= examine.erythrocytes%></div>
                </div>
            </div>
        </div>
        <div class="col-4 d-flex">
            <label class="col-form-label col-md-auto fw-bold mt-2" for="cus_bc">BC (G/L)</label>
            <div class="col-form-body col-md">
                <div class="form-control-has-addon">
                    <div class="form-control form-control-title"><%= examine.cus_bc%></div>
                </div>
            </div>
        </div>
        <div class="col-4 d-flex">
            <label class="col-form-label col-md-auto fw-bold mt-2" for="cus_tc">TC (T/L)</label>
            <div class="col-form-body col-md">
                <div class="form-control-has-addon">
                    <div class="form-control form-control-title"><%= examine.cus_tc%></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row g-2 align-items-center">
        <div class="col-6 d-flex">
            <label class="col-form-label col-md-auto fw-bold mt-2 form-label-large" for="cus_albumin">Albumin (G/L)</label>
            <div class="col-form-body col-md">
                <div class="form-control-has-addon">
                    <div class="form-control form-control-title"><%= examine.cus_albumin%></div>
                </div>
            </div>
        </div>
        <div class="col-6 d-flex">
            <label class="col-form-label col-md-auto fw-bold mt-2" for="cus_nakcl">Na+/K+/Cl-</label>
            <div class="col-form-body col-md">
                <div class="form-control-has-addon">
                    <div class="form-control form-control-title"><%= examine.cus_nakcl%></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row g-2 align-items-center">
        <div class="col-6 d-flex">
            <label class="col-form-label col-md-auto fw-bold mt-2 form-label-large" for="cus_astaltggt">AST/ALT/GGT (U/L)</label>
            <div class="col-form-body col-md">
                <div class="form-control-has-addon">
                    <div class="form-control form-control-title"><%= examine.cus_astaltggt%></div>
                </div>
            </div>
        </div>
        <div class="col-6 d-flex">
            <label class="col-form-label col-md-auto fw-bold mt-2" for="cus_urecreatinin">Ure/Creatinin</label>
            <div class="col-form-body col-md">
                <div class="form-control-has-addon">
                    <div class="form-control form-control-title"><%= examine.cus_urecreatinin%></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row g-2 align-items-center">
        <div class="col-6 d-flex">
            <label class="col-form-label col-md-auto fw-bold mt-2 form-label-large" for="cus_bilirubin">Bilirubin TP/TT</label>
            <div class="col-form-body col-md">
                <div class="form-control-has-addon">
                    <div class="form-control form-control-title"><%= examine.cus_bilirubin%></div>
                </div>
            </div>
        </div>
    </div>
    <h3 class="box-title-break">Lời khuyên dinh dưỡng</h3>
    <div class="row g-2 align-items-center">
        <div class="row align-items-center">
            <div class="col-6 col-md-2 fw-bold p-2">Nhóm TP</div>
            <div class="col-6 col-md-3 fw-bold p-2">TP nên dùng</div>
            <div class="col-6 col-md-3 fw-bold p-2">TP hạn chế dùng</div>
            <div class="col-6 col-md-3 fw-bold p-2">TP không nên dùng</div>
        </div>
        <div class="row align-items-center">
            <div class="col-6 col-md-2 fw-bold p-2">Nhóm glucid</div>
            <div class="col-6 col-md-3 p-2">
                <div class="form-control text-box single-line"><%=examine.glucid_should_use%></div>
            </div>
            <div class="col-6 col-md-3 p-2">
                <div class="form-control text-box single-line"><%=examine.glucid_limited_use%></div>
            </div>
            <div class="col-6 col-md-3 p-2">
                <div class="form-control text-box single-line"><%=examine.glucid_should_not_use%></div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-6 col-md-2 fw-bold p-2">Nhóm protein</div>
            <div class="col-6 col-md-3 p-2">
                <div class="form-control text-box single-line"><%=examine.protein_should_use%></div>
            </div>
            <div class="col-6 col-md-3 p-2">
                <div class="form-control text-box single-line"><%=examine.protein_limited_use%></div>
            </div>
            <div class="col-6 col-md-3 p-2">
                <div class="form-control text-box single-line"><%=examine.protein_should_not_use%></div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-6 col-md-2 fw-bold p-2">Nhóm lipid</div>
            <div class="col-6 col-md-3 p-2">
                <div class="form-control text-box single-line"><%=examine.lipid_should_use%></div>
            </div>
            <div class="col-6 col-md-3 p-2">
                <div class="form-control text-box single-line"><%=examine.lipid_limited_use%></div>
            </div>
            <div class="col-6 col-md-3 p-2">
                <div class="form-control text-box single-line"><%=examine.lipid_should_not_use%></div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-6 col-md-2 fw-bold p-2">Nhóm VTM & CK</div>
            <div class="col-6 col-md-3 p-2">
                <div class="form-control text-box single-line"><%=examine.vitamin_ck_should_use%></div>
            </div>
            <div class="col-6 col-md-3 p-2">
                <div class="form-control text-box single-line"><%=examine.vitamin_ck_limited_use%></div>
            </div>
            <div class="col-6 col-md-3 p-2">
                <div class="form-control text-box single-line"><%=examine.vitamin_ck_should_not_use%></div>
            </div>
        </div>
    </div>
    <% if(examine.active_mode_of_living){ %>
    <h3 class="box-title-break">Chế độ vận động sinh hoạt</h3>
    <div class="row">
        <div class="col-form-body col-md">
            <div class="form-control-has-addon">
                <div class="form-control text-box single-line"><%=examine.active_mode_of_living%></div>
            </div>
        </div>
    </div>
    <% } %>
    <% if(prescriptionExamine.length > 0){ %>
        <h3 class="box-title-break">Bổ sung</h3>
        <div class="table-responsive-xl table-responsive-flush mb-4" style="width: 100%;display: none;" id="tb_prescription">
            <div class="table-responsive-inner"></div>
            <table class="table-1 table table-pe-x-3 mb-0 align-middle table-ds-booking">
                <thead>
                <tr>
                    <td>STT</td>
                    <td class="table-sort">
                    <span>Tên thuốc</span>
                    </td>
                    <td class="table-sort">
                    <span>Số lượng</span>
                    </td>
                    <td class="table-sort">
                    <span>Đơn vị tính</span>
                    </td>
                </tr>
                </thead>
                <tbody>
                <% for(let item of prescriptionExamine){ %>
                    <tr>
                    <td><%=item.stt%></td>
                    <td class="min-w-150px fw-14px">
                        <div><%=item.name%></div>
                        <div><%=item.note%></div>
                    </td>
                    <td class="fw-14px text-red"><%=item.total%></td>
                    <td class="fs-13px text-primary"><%=item.unit%></td>
                    </tr>
                <% } %>
                </tbody>
            </table>
        </div>
    <% } %>
</div>
